
/* General defaults  */

body {
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

img,
video {
    max-width: 100%;
}
/* sections */
.item {
    background-color: #f1f1f1;
    border: 2px dashed rgb(255, 0, 0);
    margin-bottom: 40px;
}

.gigs {

    
}

/* typography */

h2 {
    background-color: black;
    color: white;
    padding: 20px;
}